<% @title ||= collection_title %>

<table class="<%= collection_table_classes %>">
  <thead>
    <tr>
      <% attributes.each do |attribute_name| %>
        <th><%= resource_attribute_human_name_for(attribute_name) %></th>
      <% end %>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |row| %>
      <tr>
        <% attributes.each do |attribute_name| %>
          <td><%= attribute_value_for(row, attribute_name) %></td>
        <% end %>
        <td><%= render_actions_for(row) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
